
<h1>About</h1><br>

<p>
      <%= link_to("Cooper Rails", "#")%>
      is a project to teach
      <%=link_to("Ruby on Rails", "http://rubyonrails.org") %>
      . This is the sample application.
</p><br><br>

<p class="blockquote">
OMR's Pinterest clone is the coolest thing ever!
</p>

